* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color:#f2f2f2;
}

.eclipse {
    padding: 50px;
    border: 1px dotted #f2f2f2;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eclipse.active {
    border: none;
    background-color: #000;
    transition: .3s;
}

.eclipse.active:hover {
    transform: translateZ(0px);
    background-color: #fa0;
}

.flex {
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}